
.login{
    display:flex;
    flex-direction: column;
    height: 80vh;
    background-color:#005bbb;
}

.login_form{
    flex-direction: column;
    height: 250px;
    width:350px;
    margin-left: 900px;
    border-color: 005bbb;
    margin-top: 7%;
}

#input{
    height: 30px;
    margin-top: 20px;
    width: 240px;
    border-radius: 20px;
    text-align: center;
    outline: none;
}
h1{
    font-size: 72px;
    margin-bottom: 0px;
    color: #FFFFFF;
}
h3{
    font-size: 36px;
    color: #FFFFFF;
}
#loginbutton{
    width: 240px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #c02a31;
    color: #FFFFFF;
}
/* .googlelogin{
    margin-top: 20px;
    width:240px;
    border-radius: 20px;
    vertical-align: super;
}
.google-btn{
    float:none;
    position:static;
    display:block;
    margin:auto;
    height: max-content;
    width:max-content;
} */
span{
    font-size: 24px;
}
.diplay-alert{
    display: block;
    margin:10px;
    background-color: #e26167;
    color: #c02a31;
}
.warning{
    color:'red';
    display:block;
    background-color: #f3b8bb;
    margin:20px;
    align-self: center;
    text-align: center;
}
